:root {
  --black: #0d0d0d;
  --red: #ff2d2b;
}

.scoreboard {
  width: 55%;
  margin: 2rem auto;
  background:url('https://images.unsplash.com/photo-1551801841-ecad875a5142?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=968&q=80');
  border-radius: 0.8rem;
  padding: 5rem;
  border: 4px solid #615b5b;
}

.topRow {
  display: flex;
  justify-content: space-around;
  place-items: center;
  /* height: 20rem; */
}

.home,
.away {
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  place-items: center;
  border: 3px solid #2b2929;
  border-radius: 0.5rem;
  width: 17rem;
}

.home {
  background-color:rgb(131,90,10);
}

.away {
  background-color:rgb(27,29,58);
}

.home__name,
.away__name,
.down__title,
.toGo__title,
.ballOn__title,
.quarter__title {
  color:rgb(211,154,56);
  text-transform: uppercase;
  font-size: 2rem;
  padding: 2rem;
}

.down__title,
.toGo__title,
.ballOn__title,
.quarter__title {
  background-color: rgba(94, 24, 24, 0.644);
  border-radius:1px;
  padding:1.5rem;
}

.home__score,
.away__score {
  font-family: "Ozone";
  font-size: 8rem;
  width: 90%;
  text-align: center;
  background:url('https://images.unsplash.com/photo-1541138858526-9f296df15693?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80');
  color: #d39a38;
  padding: 5%;
}

.timer {
  color:#d39a38;
  font-family: "Ozone";
  font-size: 9rem;
  padding: 2rem;
  text-align: center;
  background:url('https://images.unsplash.com/photo-1541138858526-9f296df15693?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80');
  border: 2px solid #2b2929;
  border-radius: 6px;
}

.bottomRow {
  display: flex;
  justify-content: space-around;
  place-items: center;
  height: 20rem;
}

.down,
.toGo,
.ballOn,
.quarter {
  font-family:Georgia, 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  place-items: center;
}

.down__value,
.toGo__value,
.ballOn__value,
.quarter__value {
  font-family: "Ozone";
  font-size: 5.5rem;
  color:#d39a38;
  width: 7rem;
  text-align: center;
  background:url('https://images.unsplash.com/photo-1541138858526-9f296df15693?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80');
  margin-top: 1rem;
  border-radius: 4px;
  padding: 1.6rem;
  border: 1px solid #2b2929;
}

.buttons {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.homeButtons__touchdown,
.homeButtons__fieldGoal,
.awayButtons__touchdown,
.awayButtons__fieldGoal {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color:#615b5b;
  color:rgb(211,154,56);
  margin: 1rem;
  border-radius: 4px;
}
